<footer>
    <p class="text-center text-muted my-4">
        Você está em:
        <strong><%= typeof page != 'undefined' ? page : 'Home' %></strong>
    </p>
    <p class="text-center text-muted my-4">Feito com ♡ (:</p>
</footer>
